[Desktop Entry]
Name=gridcoinresearch
Comment=Gridcoin P2P Cryptocurrency
Keywords=crypto,cryptocoin,bitcoin,altcoin
Exec=gridcoinresearch %u
Terminal=false
Type=Application
Icon=gridcoinresearch.png
Categories=Office;Finance;
